.table-container {
    max-width: 100%; /* Set max width */
    margin: 0 auto; /* Center align the table */
    padding: 0 20px;
    margin-top: 20px; /* Initial margin */
    transition: margin-top 0.3s ease; /* Smooth transition */
}

table {
    width: 100%;
}

th,
td {
    text-align: left;
}
span {
    color: aliceblue;
}
footer span {
    color: rgb(0, 0, 0);
}

.dropdown-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin-left: 10%;
    gap: 80px;
}

.dropdown {
    flex: 1;
    background-color: #3489d2;
    border-radius: 7px;
    max-width: 19%; /* Adjust as needed */
}
#red {
    margin-left: -2%;
}
#red :hover {
    background-color: red;
}
.dropdown button {
    width: max-content;
    margin: 0 auto;
}

.dropdown-content {
    margin-top: 10px;
}
#kiri {
    margin-left: 45%;
}
svg {
    margin-left: 10px;
    color: aliceblue;
}
.gambar {
    display: flex;
    gap: 10px;
    margin-right: -50px;
    margin-left: 20px;
}


/* Halaman Detail */
#detail{
    display: flex;
}